<div class="aboutsection1 reveal slide-in-left">
  <h1 style="text-align: center">About me</h1>
  <div class="header-bar"></div>
</div>
<div class="reveal fade-left">
  <div class="box2imagecontainer">
    <figure>
      <img src="images/cat1.jpeg" class="box2image" />
      <figcaption class="box2imageText">
        This is some subtext under an illustration or image
      </figcaption>
    </figure>
    <figure>
      <img src="images/cat2.jpeg" class="box2image" />
      <figcaption class="box2imageText">
        This is some subtext under an illustration or image, to test how more
        text would react
      </figcaption>
    </figure>
    <figure>
      <img src="images/cat3.jpg" class="box2image" />
      <figcaption class="box2imageText">
        This is some subtext under an illustration or image, to test how even
        more text would react, to see if it breaks lol
      </figcaption>
    </figure>
    <figure>
      <img src="images/cat4.jpeg" class="box2image" />
      <figcaption class="box2imageText">This is to test short text</figcaption>
    </figure>
  </div>
</div>
<div class="aboutsection2 reveal fade-bottom">
  <div class="box2imagecontainer">
    <figure>
      <img src="images/cat1.jpeg" class="box2image" />
      <figcaption class="box2imageText">
        This is some subtext under an illustration or image
      </figcaption>
    </figure>
    <figure>
      <img src="images/cat2.jpeg" class="box2image" />
      <figcaption class="box2imageText">
        This is some subtext under an illustration or image, to test how more
        text would react
      </figcaption>
    </figure>
    <figure>
      <img src="images/cat3.jpg" class="box2image" />
      <figcaption class="box2imageText">
        This is some subtext under an illustration or image, to test how even
        more text would react, to see if it breaks lol
      </figcaption>
    </figure>
    <figure>
      <img src="images/cat4.jpeg" class="box2image" />
      <figcaption class="box2imageText">This is to test short text</figcaption>
    </figure>
  </div>
</div>
