<div class="aboutsection1 reveal slide-in-left">
  <h1 style="text-align: center">About me</h1>
  <div class="header-bar"></div>
</div>
<div class="reveal fade-left">
  <div class="box2imagecontainer">
    <figure>
      <div class="imageFlex">
        <img src="../images/fastlearner.png" class="box2image" />
        <h2>Fast Learner</h2>
        <p class="imageText" style="text-align: center">
          I pride myself on my
          <strong>independent</strong> and <strong>fast</strong> learning and
          understanding skills
        </p>
      </div>
    </figure>
    <figure>
      <div class="imageFlex">
        <img src="../images/aod.png" class="box2image" />
        <h2>Detail Oriented</h2>
        <p class="imageText">
          I make sure to always supply a <strong>high standard</strong> while
          dealing with Attention to Detail
        </p>
      </div>
    </figure>
    <figure>
      <div class="imageFlex">
        <img src="../images/problemsolving.png" class="box2image" />
        <h2>Problem Solving</h2>
        <p class="imageText">
          I <strong>enjoy</strong> solving problems using creativity and
          critical thinking
        </p>
      </div>
    </figure>
    <figure>
      <div class="imageFlex">
        <img src="../images/passionate.png" class="box2image" />
        <h2>Passionate</h2>
        <p class="imageText">
          I am passionate about anything computing and development, and
          <strong>love</strong> learning and improving in any subject related to
          it
        </p>
      </div>
    </figure>
  </div>
</div>
<div class="ryanthomas">
  <div class="octo">
    <div class="octo1">
      <span
        class="octo-image"
        style="background-image: url(../images/me.png)"
      ></span>
    </div>
  </div>
  <div class="reveal fade-left skills">
    <div class="skill-group">
      <p>Github / Version Control</p>
      <div class="skill-bar">
        <div class="skill-value github">90%</div>
      </div>
      <p>Unity Engine (C#)</p>
      <div class="skill-bar">
        <div class="skill-value unity">85%</div>
      </div>
      <p>HTML & CSS</p>
      <div class="skill-bar">
        <div class="skill-value html">70%</div>
      </div>
      <p>Office Apps</p>
      <div class="skill-bar">
        <div class="skill-value office">70%</div>
      </div>
      <p>Javascript</p>
      <div class="skill-bar">
        <div class="skill-value js">60%</div>
      </div>
      <p>Python</p>
      <div class="skill-bar">
        <div class="skill-value python">60%</div>
      </div>
    </div>
  </div>
</div>
