<header class="Headercontainer">
    <div class="leftContainer">
      <div class="logoContainer">
        <div class="logoImageContainer">
          <img class="logoImage" src="images/icon1.svg" height="auto" />
          <div class="logoText">
            <p2 style="width: 200px">Ryan Thomas</p2>
          </div>
        </div>
      </div>
    </div>
    <div class="headerTextContainer">
      <div class="headerText">
        <link>
          <a class="fa fa-github" style="font-size:24px; text-decoration: none" target="_blank" href="https://github.com/ItsHypers">Github</a>
        </link>
        <link>
        <a class="fa fa-linkedin" style="font-size:24px; text-decoration: none" target="_blank" href="https://www.linkedin.com/in/ryanthomas11/">Linkedin</a>
        </link>
        <link>
        <a class="fa fa-codepen" style="font-size:24px; text-decoration: none" target="_blank" href="https://codepen.io/itshypers">Codepen</a>
        </link>
      </div>
    </div>
  </header>