<div class="header">
  <div class="leftContainer">
    <div class="logoContainer">
      <div class="logoImageContainer">
        <img
          class="logoImage"
          src="images/icon1.svg"
          height="auto"
          alt="Ryan Thomas' Logo"
        />
        <div class="logoText">
          <p2 style="width: 200px">Ryan Thomas</p2>
        </div>
      </div>
    </div>
  </div>
  <div class="headerTextContainer">
    <div class="headerText">
      <a href="#"><menu>Home</menu></a>
      <a href="#aboutme"><menu>About Me</menu></a>
      <a href="#portfolio"><menu>Portfolio</menu></a>
      <a href="#contact"><menu>Contact me</menu></a>
    </div>
  </div>
</div>
