<div class="header">
  <div class="leftContainer">
    <div class="logoContainer">
      <div class="logoImageContainer">
        <img
          class="logoImage"
          src="images/icon1.svg"
          height="auto"
          alt="Ryan Thomas' Logo"
        />
        <div class="logoText">
          <p2 style="width: 200px">Ryan Thomas</p2>
        </div>
      </div>
    </div>
  </div>
  <div class="headerTextContainer">
    <div class="headerText">
      <a class="anchor" href="#"
        ><menu class="active page-link" dest="home">Home</menu></a
      >
      <a class="anchor" href="#about"
        ><menu class="page-link" dest="about">About Me</menu></a
      >
      <a class="anchor" href="#portfolio"
        ><menu class="page-link" dest="portfolio">Portfolio</menu></a
      >
      <a class="anchor" href="#contact"
        ><menu class="page-link" dest="contact">Contact me</menu></a
      >
    </div>
  </div>
</div>
