<div class="box1">
  <div class="box1left">
    <h1 class="box1left bold">Landing Page Exercise</h1>
    <p class="box1left text">
      Lorem ipsum dolor sit amet, eos ad detraxit consectetuer, ea lorem clita
      impedit eum. Consul suscipit qui ad, no menandri intellegat definitionem
      duo. Ex est labores officiis verterem, cibo scaevola ad pro. Sint laudem
      placerat no duo, ius sint debitis persecuti ne, qui ne reque ornatus.
      Everti evertitur an vis.
    </p>
    <button class="box1left button button4">Sign Up!</button>
  </div>
  <div class="box1right">
    <img class="box1Image" src="images/cat5.jpg" />
  </div>
</div>
